# PET SPA — Variables de entorno
# Copia este archivo a .env y ajusta los valores

DB_HOST=localhost
DB_PORT=5432
DB_NAME=petspa
DB_USER=petspa_user
DB_PASS=12345678
JWT_SECRET=cambia_esto_por_algo_muy_secreto_minimo_32_chars
APP_URL=http://localhost:8080
